@import "tailwindcss"

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* sheard style  */
.text-color{
    color: #E95A08;
}
.btn-primary{
    background-color: #E95A08;
    padding: 20px 40px;
}


/* header section  */
/* header nav section  */
header{
    max-width: 1140px;
    margin: 30px auto 0;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

/* banner section style */
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

/* main section  */
/* plants section style  */
.plants-title{
    font-size: 3rem;
    font-weight: 700;
}
.badge{
    top: -110px;
    right: -80px;
}

/* join-section style  */
.join-section{
    background-color: red;
    height: 500px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}



@media screen and (max-width: 576px) {
    /* sheard style  */
    
    header{
        margin: 0 30px;
    }
    .btn-primary{
        background-color: #E95A08;
        padding: 10px 16px;
        font-size: 14px;
    }

    /* navber style  */
    .navber{
        margin-top: 30px;
    }
    .navber ul .div1{
        display: none;
    }
    .navber img{
        width: 70px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner img{
        margin-top: -100px;
    }
    .banner-title{
        font-size: 1.5rem;
        margin-top: 24px;
        margin-bottom: 15px;
    }
    .banner-description{
        font-size: 0.85rem;
    }

    /* card section  */
    .plants{
        margin: 70px 30px 0;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);   
    }
    .card-name{
        margin: 15px 0;
    }
    .card-name h4{
        font-size: 16px;
    }
    .plants-title{
        font-size: 1.5rem;
    }
    .plants-description{
        font-size: 0.85rem;
        margin: 12px auto 20px;
    }


    /* plants-lover section style  */
    .plants-lover{
        margin: 0 30px;
        flex-direction: column;
        margin-top: 100px;
    }
    .plants-lover-title{
        font-size: 1.5rem;
        margin-top: -20px;
    }
    .plants-lover-content ul li{
        font-size: 0.85rem;
    }
    .badge{
        display: none
    }

    /* Latest Deal Section style  */
    .latest-deal{
        margin: 0 30px;
    }
    .latest-deal-title{
        font-size: 1.5rem;
        margin-top: 70px;
    }
    .latest-deal-description{
        font-size: 0.85rem;
        margin-bottom: -20px;
    }
    .img-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin-top: 40px;
    }
    .img-container h2{
        font-size: 20px;
    }
    .img-container p{
        font-size: 16px;
    }
    .left-site-img{
        margin-bottom: 16px;
        gap: 16px;
    }

    /* join section style  */
    .join-section{
        margin: 45px 0 0;
    }
    .join-section-title{
        font-size: 1.5rem;
        margin-bottom: -20px;
    }
    .join-section input{
        width: 230px;
    }
    .join-section{
        height: 250px;
    }


    /* footer style  */
    .footer-content{
        grid-template-columns: repeat(1,1fr);
        margin: 0, 30px;
        gap: 28px;
    }
    .footer-logo{
        padding: 0;
    }
}